includes:
    - phpstan-baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - src
    checkOctaneCompatibility: true
    tmpDir: .phpstan-cache

    type_coverage:
        return: 100
        param: 100
        property: 100
        constant: 100
        declare: 100
