parameters:
    ignoreErrors:
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            path: src/Factories/DataEntityFactory.php
        -
            identifier:  trait.unused
            path: src\Plugins\HasCache.php
        -
            identifier:  trait.unused
            path: src\Plugins\AlwaysThrowOnError.php
